header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}

h1{
    font-size: 50px;
    color: rgb(29, 75, 64)
    
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}
header a {
    font-size: 30px;
    color: rgb(29, 75, 64)
}

#banner a{
    text-decoration:none;
    color: black
}


#navbar {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}
img {
    width: 150px;
    height: auto;
}
section{
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 75, 64, 0.884);
    color: whitesmoke
}

section .white{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(29,75,64)
}

.section-header{
    display:block;
    width: 100%;
    text-align: center;
}
.prod-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    width: auto;
}

.product {
    width: 30%;
    text-align: center;
    height:100%;
}

.product img {
    width: 100%;
}

.athlete-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
}

.athletes {
    width: 30%;
    align-items: stretch;
    text-align: center;
    
}

.athletes img {
    width: 100%
}

.athletes figcaption{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.athletes p {
    color: white;
}

.team-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    width: auto;
}

.team-member {
    width: 30%;
    text-align: center;
    height:100%;
}

.image-break img{
    width:100%;
    height: 50px;
    object-fit: fill;
}
