header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-image: url("img/weight-background.jpg");
}

h1{
    font-size: 50px;
    
}
header a {
    font-size: 30px;
}

#banner a{
    text-decoration:none;
    color: black
}


#navbar {
    display: inline-flex;
    justify-content: space-around;
    background-color: red;
    width: 100%;
}
img {
    width: 150px;
    height: auto;
}
section {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.section-header{
    display:block;
    width: 100%;
    text-align: center;
}
.prod-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    width: auto;
    background-color: grey;
}

.product {
    width: 30%;
    background-color: aqua;
    text-align: center;
    height:100%;
}

.product img {
    width: 100%;
}

.athlete-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    background-color:black;
}

.athletes {
    width: 30%;
    align-items: stretch;
    background-color: black;
    text-align: center;
    
}

.athletes img {
    width: 100%
}

.athletes figcaption{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.athletes p {
    color: white;
}

.team-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    width: auto;
    background-color: grey;
}

.team-member {
    width: 30%;
    background-color: aqua;
    text-align: center;
    height:100%;
}